<div class="card employee-card manager mx-4 mb-3">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-project-diagram mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ id }}</li>
            <li class="list-group-item"><strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item"><strong>Office number:</strong> {{ officeNumber }}</li>
        </ul>
    </div>
</div>
